<section class="tb-container">
  <nav class="tb">
    <div class="container full-height centered">
      <div class="tb-content full-height">
        <img
          class="tb-brand"
          src="android-chrome-512x512.png"/>
        <h1 class="tb-header">
          Http Icons
        </h1>
        <div class="tb-nav-external">
          <a
            class="tb-nav-external-item"
            href="https://github.com/NickKelly1/http-icons.git">
            <img
              alt="GitHub"
              src="/assets/img/github.png?ver=<%= VER %>"
              class="github"></img>
          </a>
          <a
            class="tb-nav-external-item"
            href="https://hub.docker.com/repository/docker/nick3141/http-icons">
            <img
              alt="Docker"
              src="/assets/img/docker.png?ver=<%= VER %>"
              class="docker"></img>
          </a>
        </div>
      </div>
    </div>
  </nav>
</section>
