.hero-section {
  padding: var(--spacing-3) 0;
  height: 440px;
  background-color: var(--bg-secondary);
}

.hero-section .hero-image {
  max-width:100%;
  max-height:100%;
}

.hero-image {
  /* background image from ejs */
  height: 420px;

  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.description-section {
  height: 420px;
  background-color: var(--bg-dark);
}

@media only screen and (min-width: 576px) {
  .hero-section {
    height: 410px;
  }
  .hero-image {
    height: 410px;
  }
}

@media only screen and (min-width: 720px) {
  .hero-section {
    height: 400px;
  }
  .hero-image {
    height: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .hero-section {
    height: 390px;
  }
  .hero-image {
    height: 390px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-section {
    height: 380px;
  }
  .hero-image {
    height: 380px;
  }
}

.status-section {
  background-color: var(--bg-dark);
  color: var(--text-primary);
  padding: var(--spacing-3) 0;
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.status-container .status-header {
  text-transform: uppercase;
}

.status-container #site-status .bit-spinner {
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* added after check finished */
.status-container #site-status img {
  height: 64px;
  width: 64px;
}

.readme-section {
  background-color: var(--bg-secondary);
}

.readme {
  padding: var(--spacing-2) 0;
  color: var(--text-dark);
}

.readme a {
  color: var(--text-dark-link);
  text-decoration: none;

}

/* width */
.readme ::-webkit-scrollbar {
  background-color: var(--bg-primary);
  border-radius: var(--spacing-1);
  height: var(--spacing-1);
}

/* Track */
.readme ::-webkit-scrollbar-track {
  background-color: var(--bg-primary);
  border-radius: var(--spacing-1);
  height: var(--spacing-1);
}

/* Handle */
.readme ::-webkit-scrollbar-thumb {
  background-color: var(--bg-dark);
  border-radius: var(--spacing-1);
}

.readme pre {
  overflow-x: auto;
  background-color: rgba(0, 0, 0, 0.1);
  padding: var(--spacing-1);
  border-radius: var(--spacing-1);
}

/* codes that don't follow a pre */
.readme :not(pre) + code {
  overflow-x: auto;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: var(--spacing-1);
}

.readme h1,
.readme h2,
.readme h3,
.readme h4,
.readme h5,
.readme h6 {
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: var(--spacing-2);
}

.readme h1,
.readme h2 {
  border-bottom: 1px solid var(--text-dark-border-1);
  padding-bottom: 0.3em;
}
